node-red/flows.json
[
    {
        "id": "71891cfeee524944",
        "type": "subflow",
        "name": "MQTT to OPC",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 220,
                "wires": [
                    {
                        "id": "3feecbbeddb7ac94"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 220,
                "wires": [
                    {
                        "id": "3feecbbeddb7ac94",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3feecbbeddb7ac94",
        "type": "function",
        "z": "71891cfeee524944",
        "name": "Convert MQTT to IoT/IIoT OPC UA 4.1.2 write node",
        "func": "let name = msg.payload[\"name\"]; \nlet nodeId = msg.payload[\"nodeId\"];\nlet datatypeName = msg.payload[\"datatypeName\"];\nlet value = msg.payload[\"value\"][0];\n\nmsg.payload = {\n    \"nodetype\":\"inject\",\n    \"injectType\":\"write\",\n    \"addressSpaceItems\":[{\n        \"name\": name,\n        \"nodeId\": nodeId,\n        \"datatypeName\": datatypeName\n        }],\n    \"valuesToWrite\": [{value}]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e48651189e47bd2a",
        "type": "subflow",
        "name": "OPC to MQTT",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 80,
                "wires": [
                    {
                        "id": "b3063867dd486cbd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "b3063867dd486cbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b3063867dd486cbd",
        "type": "function",
        "z": "e48651189e47bd2a",
        "name": "Convert IoT/IIoT OPC UA 4.1.2 to MQTT",
        "func": "/**\nOPCUA - IIoT - Read\nParse Result : True\nSend Just Values : True\nShow Activities : True\nShow Errors : True\n */\n\n\nlet signalArray = [];\nlet valueArray = []\n\nfunction value(data) { \n  valueArray.push(data.value.value);\n}\n\nfunction signal(data) {\n  signalArray.push(data.name); \n}\n\nmsg.payload.value.results.forEach(value);\nmsg.payload.addressSpaceItems.forEach(signal);\n\nlet signals = signalArray.join(\";\");\n\nmsg.payload = {\"signal\": signals, \"value\": valueArray};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8c29cec46c05cc9e",
        "type": "subflow",
        "name": "Add LINE_NAME",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 120,
                "wires": [
                    {
                        "id": "63f45b29e9861d4d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 120,
                "wires": [
                    {
                        "id": "63f45b29e9861d4d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "63f45b29e9861d4d",
        "type": "function",
        "z": "8c29cec46c05cc9e",
        "name": "Topic Add LINE_NAME ",
        "func": "let line = env.get(\"LINE_NAME\");\nlet slash = \"/\";\nlet oldTopic = msg.topic;\nmsg.topic = line + slash + oldTopic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ce764ed3e446ced5",
        "type": "tab",
        "label": "OPC<>MQTT",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "LINE_NAME",
                "value": "L14",
                "type": "str"
            }
        ]
    },
    {
        "id": "7884ce27aaf269f5",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "732024b38f7a237b"
            ]
        ]
    },
    {
        "id": "3b806044d09b8d3e",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "27d3f5ef16c011f6"
            ]
        ]
    },
    {
        "id": "a91396b8ae176f24",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 160,
        "wires": []
    },
    {
        "id": "536854c4f3eefc6e",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "cd6305508253905c"
            ]
        ]
    },
    {
        "id": "eac227da1877ab42",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "536854c4f3eefc6e"
            ]
        ]
    },
    {
        "id": "ed608a4df466b5df",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "control/#",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "control/#",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "eac227da1877ab42"
            ]
        ]
    },
    {
        "id": "096579a5404692ed",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "96c55af6a41ad734"
            ]
        ]
    },
    {
        "id": "01a5fbe71a411a9b",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "a91396b8ae176f24"
            ]
        ]
    },
    {
        "id": "094cac5d92a182fe",
        "type": "comment",
        "z": "ce764ed3e446ced5",
        "name": "node-red-contrib-iiot-opcua v4.1.2",
        "info": "",
        "x": 450,
        "y": 20,
        "wires": []
    },
    {
        "id": "cd6305508253905c",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "868e93d15d94bb42"
            ]
        ]
    },
    {
        "id": "b3dbe7bad16a95f9",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "4691c483a10489c6"
            ]
        ]
    },
    {
        "id": "9041fffb38b80398",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 420,
        "wires": []
    },
    {
        "id": "e75eecc1938749b5",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "9041fffb38b80398"
            ]
        ]
    },
    {
        "id": "a07dd63378d86bb6",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "d68bf6268cd9b210"
            ]
        ]
    },
    {
        "id": "8a717f6c3326a0be",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "a07dd63378d86bb6"
            ]
        ]
    },
    {
        "id": "9caac6b8e1189915",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settings/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settings/+",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "8a717f6c3326a0be"
            ]
        ]
    },
    {
        "id": "d68bf6268cd9b210",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 480,
        "wires": [
            [
                "960b4bc1196f5145"
            ]
        ]
    },
    {
        "id": "c96fe19785e2c354",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "b6fe891652d63ff8"
            ]
        ]
    },
    {
        "id": "0cf602f68726e615",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "c6889839047dd739",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 580,
        "wires": [
            [
                "0cf602f68726e615"
            ]
        ]
    },
    {
        "id": "b9ea957cb2da528b",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "36a262cfced00b61",
                "25f5500229fbe9af"
            ]
        ]
    },
    {
        "id": "9a7debb792493c57",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "b9ea957cb2da528b"
            ]
        ]
    },
    {
        "id": "6adb526f19ddf2f3",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsShift/1/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsShift/1/+",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "9a7debb792493c57"
            ]
        ]
    },
    {
        "id": "a78c8dd53c54a075",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 720,
        "wires": [
            [
                "56d928369dbbaad8"
            ]
        ]
    },
    {
        "id": "1bfc7875a59142b3",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 720,
        "wires": []
    },
    {
        "id": "c5775787b4192e98",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 720,
        "wires": [
            [
                "1bfc7875a59142b3"
            ]
        ]
    },
    {
        "id": "1578cea5831f7ab3",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "c72677b4ee24e6b9"
            ]
        ]
    },
    {
        "id": "23fd2d129a728862",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "1578cea5831f7ab3"
            ]
        ]
    },
    {
        "id": "c72677b4ee24e6b9",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 780,
        "wires": [
            [
                "998ef25331052bb4"
            ]
        ]
    },
    {
        "id": "41986e7ff0776523",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsShift/2/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsShift/2/+",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "23fd2d129a728862"
            ]
        ]
    },
    {
        "id": "24db76828992d0d3",
        "type": "comment",
        "z": "ce764ed3e446ced5",
        "name": "Node-RED  v3.0.2",
        "info": "",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "30da7478f8a1d1c5",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "4001157d4fbf10d3"
            ]
        ]
    },
    {
        "id": "5f708f3ade7315fb",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 860,
        "wires": []
    },
    {
        "id": "62ebaabeaeef7f68",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 860,
        "wires": [
            [
                "5f708f3ade7315fb"
            ]
        ]
    },
    {
        "id": "324b77495f3d9db6",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 920,
        "wires": [
            [
                "5db97a56b21adf7c"
            ]
        ]
    },
    {
        "id": "502770dcd087a58c",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "324b77495f3d9db6"
            ]
        ]
    },
    {
        "id": "5db97a56b21adf7c",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 920,
        "wires": [
            [
                "b1afc4d2c5642655"
            ]
        ]
    },
    {
        "id": "94396fe75fed364b",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsShift/3/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsShift/3/+",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "502770dcd087a58c"
            ]
        ]
    },
    {
        "id": "36a262cfced00b61",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "eaffe3259c3cf9a3"
            ]
        ]
    },
    {
        "id": "62c0a1ba1a5674e3",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "6217e9dd1a985ff6"
            ]
        ]
    },
    {
        "id": "097cb983147f2f71",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 1020,
        "wires": []
    },
    {
        "id": "948e751f13d7d0d4",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 1020,
        "wires": [
            [
                "097cb983147f2f71"
            ]
        ]
    },
    {
        "id": "0b04a2e1cd30211f",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "93f804b853d8f488"
            ]
        ]
    },
    {
        "id": "4b54620bdd253f0b",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1080,
        "wires": [
            [
                "0b04a2e1cd30211f"
            ]
        ]
    },
    {
        "id": "93f804b853d8f488",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 1080,
        "wires": [
            [
                "2a08b62a499edcf0"
            ]
        ]
    },
    {
        "id": "cf6b7ed30b9b8561",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsSirene/green/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsSirene/green/+",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "4b54620bdd253f0b"
            ]
        ]
    },
    {
        "id": "aa5eda72486fa31e",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "fef1cde46b225417"
            ]
        ]
    },
    {
        "id": "ce9f218f0aa4918a",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f6ae904a8b3a7c41",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 1160,
        "wires": [
            [
                "ce9f218f0aa4918a"
            ]
        ]
    },
    {
        "id": "488710fb9ccd8016",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 1220,
        "wires": [
            [
                "b78e68ff24ee9f68"
            ]
        ]
    },
    {
        "id": "7ee18b6897e2997c",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "488710fb9ccd8016"
            ]
        ]
    },
    {
        "id": "b78e68ff24ee9f68",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 1220,
        "wires": [
            [
                "27f84afe366db088"
            ]
        ]
    },
    {
        "id": "84b0326f50855e73",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsSirene/yellow/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsSirene/yellow/+",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "7ee18b6897e2997c"
            ]
        ]
    },
    {
        "id": "9db6de97d77a9381",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "aac0d068e0c6653c"
            ]
        ]
    },
    {
        "id": "ecbb5c7b983ab0a2",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1e74d8aeb2500340",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 1300,
        "wires": [
            [
                "ecbb5c7b983ab0a2"
            ]
        ]
    },
    {
        "id": "421a2b809f8ba133",
        "type": "mqtt in",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33fe6ee08f0d5314",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "d834b31d6ae34882"
            ]
        ]
    },
    {
        "id": "e83671a4d21a8900",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "421a2b809f8ba133"
            ]
        ]
    },
    {
        "id": "d834b31d6ae34882",
        "type": "subflow:71891cfeee524944",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 950,
        "y": 1360,
        "wires": [
            [
                "e9e232a6959346f3"
            ]
        ]
    },
    {
        "id": "ed213ba9e99ddbd8",
        "type": "inject",
        "z": "ce764ed3e446ced5",
        "name": "settingsSirene/red/+",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "settingsSirene/red/+",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "e83671a4d21a8900"
            ]
        ]
    },
    {
        "id": "96c55af6a41ad734",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "25f5500229fbe9af",
        "type": "debug",
        "z": "ce764ed3e446ced5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 700,
        "wires": []
    },
    {
        "id": "5a431aababd45125",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "actualValues",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "actualValues",
        "addressSpaceItems": [
            {
                "name": "target",
                "nodeId": "ns=3;s=\"actualValues\".\"target\"",
                "datatypeName": "Int32"
            },
            {
                "name": "actual",
                "nodeId": "ns=3;s=\"actualValues\".\"actual\"",
                "datatypeName": "Int32"
            },
            {
                "name": "ok",
                "nodeId": "ns=3;s=\"actualValues\".\"ok\"",
                "datatypeName": "Int32"
            },
            {
                "name": "difference",
                "nodeId": "ns=3;s=\"actualValues\".\"difference\"",
                "datatypeName": "Int32"
            },
            {
                "name": "counterTactTime",
                "nodeId": "ns=3;s=\"actualValues\".\"counterTactTime\"",
                "datatypeName": "Int32"
            },
            {
                "name": "state",
                "nodeId": "ns=3;s=\"actualValues\".\"state\"",
                "datatypeName": "Int32"
            },
            {
                "name": "taktTime",
                "nodeId": "ns=3;s=\"actualValues\".\"taktTime\"",
                "datatypeName": "Int32"
            }
        ],
        "x": 160,
        "y": 100,
        "wires": [
            [
                "7884ce27aaf269f5"
            ]
        ]
    },
    {
        "id": "ef56ae90b32173af",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "previousValues",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "previousValues",
        "addressSpaceItems": [
            {
                "name": "target",
                "nodeId": "ns=3;s=\"previousValues\".\"target\"",
                "datatypeName": "Int32"
            },
            {
                "name": "actual",
                "nodeId": "ns=3;s=\"previousValues\".\"actual\"",
                "datatypeName": "Int32"
            },
            {
                "name": "ok",
                "nodeId": "ns=3;s=\"previousValues\".\"ok\"",
                "datatypeName": "Int32"
            },
            {
                "name": "difference",
                "nodeId": "ns=3;s=\"previousValues\".\"difference\"",
                "datatypeName": "Int32"
            },
            {
                "name": "counterTactTime",
                "nodeId": "ns=3;s=\"previousValues\".\"counterTactTime\"",
                "datatypeName": "Int32"
            },
            {
                "name": "state",
                "nodeId": "ns=3;s=\"previousValues\".\"state\"",
                "datatypeName": "Int32"
            },
            {
                "name": "taktTime",
                "nodeId": "ns=3;s=\"previousValues\".\"taktTime\"",
                "datatypeName": "Int32"
            }
        ],
        "x": 170,
        "y": 160,
        "wires": [
            [
                "3b806044d09b8d3e"
            ]
        ]
    },
    {
        "id": "f20d24dd2836d4cb",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settings",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "settings",
        "addressSpaceItems": [
            {
                "name": "taktTimeCntOption",
                "nodeId": "ns=3;s=\"settings\".\"taktTimeCntOption\"",
                "datatypeName": "Int32"
            },
            {
                "name": "target",
                "nodeId": "ns=3;s=\"settings\".\"target\"",
                "datatypeName": "Int32"
            },
            {
                "name": "taktTime",
                "nodeId": "ns=3;s=\"settings\".\"taktTime\"",
                "datatypeName": "Int32"
            },
            {
                "name": "countOption",
                "nodeId": "ns=3;s=\"settings\".\"countOption\"",
                "datatypeName": "Int32"
            }
        ],
        "x": 170,
        "y": 420,
        "wires": [
            [
                "b3dbe7bad16a95f9"
            ]
        ]
    },
    {
        "id": "e34e6c4d1b907993",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsShift/1",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "",
        "addressSpaceItems": [
            {
                "name": "shiftEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"shiftEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBegin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"shiftBegin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftEnd",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"shiftEnd\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break1EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break1Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1End",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break1End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break2EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break2Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2End",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break2End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break3EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break3Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3End",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break3End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break4EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break4Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4End",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break4End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break5EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break5Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5End",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"break5End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTargetEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"targetEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTarget",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"target\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTimeEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"taktTimeEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTime",
                "nodeId": "ns=3;s=\"settingsShift\".\"1\".\"taktTime\"",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 580,
        "wires": [
            [
                "c96fe19785e2c354"
            ]
        ]
    },
    {
        "id": "49cc677a08e7c102",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsShift/2",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "",
        "addressSpaceItems": [
            {
                "name": "shiftEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"shiftEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBegin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"shiftBegin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftEnd",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"shiftEnd\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break1EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break1Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1End",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break1End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break2EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break2Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2End",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break2End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break3EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break3Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3End",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break3End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break4EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break4Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4End",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break4End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break5EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break5Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5End",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"break5End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTargetEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"targetEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTarget",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"target\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTimeEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"taktTimeEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTime",
                "nodeId": "ns=3;s=\"settingsShift\".\"2\".\"taktTime\"",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 720,
        "wires": [
            [
                "a78c8dd53c54a075"
            ]
        ]
    },
    {
        "id": "ab21cbcc2ec056a2",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsShift/3",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "",
        "addressSpaceItems": [
            {
                "name": "shiftEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"shiftEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBegin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"shiftBegin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftEnd",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"shiftEnd\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break1EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break1Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak1End",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break1End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break2EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break2Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak2End",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break2End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break3EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break3Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak3End",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break3End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break4EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break4Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak4End",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break4End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5EN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break5EN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5Begin",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break5Begin\"",
                "datatypeName": ""
            },
            {
                "name": "shiftBreak5End",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"break5End\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTargetEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"targetEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTarget",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"target\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTimeEN",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"taktTimeEN\"",
                "datatypeName": ""
            },
            {
                "name": "shiftTaktTime",
                "nodeId": "ns=3;s=\"settingsShift\".\"3\".\"taktTime\"",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 860,
        "wires": [
            [
                "30da7478f8a1d1c5"
            ]
        ]
    },
    {
        "id": "2763e791d3cb6306",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsSirene/green",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "settings/sirene/green",
        "addressSpaceItems": [
            {
                "name": "toneSelect",
                "nodeId": "ns=3;s=\"settingsSirene\".\"green\".\"toneSelect\"",
                "datatypeName": ""
            },
            {
                "name": "toneDuration",
                "nodeId": "ns=3;s=\"settingsSirene\".\"green\".\"toneDuration\"",
                "datatypeName": ""
            },
            {
                "name": "test",
                "nodeId": "ns=3;s=\"settingsSirene\".\"green\".\"test\"",
                "datatypeName": ""
            }
        ],
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "62c0a1ba1a5674e3"
            ]
        ]
    },
    {
        "id": "73238d72641d9e7d",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsSirene/yellow",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "settings/sirene/yellow",
        "addressSpaceItems": [
            {
                "name": "toneSelect",
                "nodeId": "ns=3;s=\"settingsSirene\".\"yellow\".\"toneSelect\"",
                "datatypeName": ""
            },
            {
                "name": "toneDuration",
                "nodeId": "ns=3;s=\"settingsSirene\".\"yellow\".\"toneDuration\"",
                "datatypeName": ""
            },
            {
                "name": "test",
                "nodeId": "ns=3;s=\"settingsSirene\".\"yellow\".\"test\"",
                "datatypeName": ""
            }
        ],
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "aa5eda72486fa31e"
            ]
        ]
    },
    {
        "id": "c927b0336b0a4be7",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "settingsSirene/red",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "settings/sirene/red",
        "addressSpaceItems": [
            {
                "name": "toneSelect",
                "nodeId": "ns=3;s=\"settingsSirene\".\"red\".\"toneSelect\"",
                "datatypeName": ""
            },
            {
                "name": "toneDuration",
                "nodeId": "ns=3;s=\"settingsSirene\".\"red\".\"toneDuration\"",
                "datatypeName": ""
            },
            {
                "name": "test",
                "nodeId": "ns=3;s=\"settingsSirene\".\"red\".\"test\"",
                "datatypeName": ""
            }
        ],
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "9db6de97d77a9381"
            ]
        ]
    },
    {
        "id": "732024b38f7a237b",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "3ae47788321c7fe0"
            ]
        ]
    },
    {
        "id": "27d3f5ef16c011f6",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "1df27cfc6fd88da4"
            ]
        ]
    },
    {
        "id": "4691c483a10489c6",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "956c84527d3526ae"
            ]
        ]
    },
    {
        "id": "b6fe891652d63ff8",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "ac7b3bddb0433209"
            ]
        ]
    },
    {
        "id": "56d928369dbbaad8",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "b0104f5a0a845e62"
            ]
        ]
    },
    {
        "id": "4001157d4fbf10d3",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "6c28bfd629c3492f"
            ]
        ]
    },
    {
        "id": "6217e9dd1a985ff6",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "b97d874702fa1890"
            ]
        ]
    },
    {
        "id": "fef1cde46b225417",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "f928dc47b1b15ecd"
            ]
        ]
    },
    {
        "id": "aac0d068e0c6653c",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 1300,
        "wires": [
            [
                "64e4c78aca07688b"
            ]
        ]
    },
    {
        "id": "868e93d15d94bb42",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "960b4bc1196f5145",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eaffe3259c3cf9a3",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "998ef25331052bb4",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b1afc4d2c5642655",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2a08b62a499edcf0",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "27f84afe366db088",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "e9e232a6959346f3",
        "type": "OPCUA-IIoT-Write",
        "z": "ce764ed3e446ced5",
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "x": 1210,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "3ae47788321c7fe0",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 100,
        "wires": [
            [
                "096579a5404692ed"
            ]
        ]
    },
    {
        "id": "1df27cfc6fd88da4",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 160,
        "wires": [
            [
                "01a5fbe71a411a9b"
            ]
        ]
    },
    {
        "id": "956c84527d3526ae",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 420,
        "wires": [
            [
                "e75eecc1938749b5"
            ]
        ]
    },
    {
        "id": "ac7b3bddb0433209",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 580,
        "wires": [
            [
                "c6889839047dd739"
            ]
        ]
    },
    {
        "id": "b0104f5a0a845e62",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 720,
        "wires": [
            [
                "c5775787b4192e98"
            ]
        ]
    },
    {
        "id": "6c28bfd629c3492f",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 860,
        "wires": [
            [
                "62ebaabeaeef7f68"
            ]
        ]
    },
    {
        "id": "b97d874702fa1890",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 1020,
        "wires": [
            [
                "948e751f13d7d0d4"
            ]
        ]
    },
    {
        "id": "f928dc47b1b15ecd",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "f6ae904a8b3a7c41"
            ]
        ]
    },
    {
        "id": "64e4c78aca07688b",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 1300,
        "wires": [
            [
                "1e74d8aeb2500340"
            ]
        ]
    },
    {
        "id": "9fe5bfce28edee97",
        "type": "subflow:8c29cec46c05cc9e",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "a88cbca272a818dc"
            ]
        ]
    },
    {
        "id": "85b288c02608db0a",
        "type": "mqtt out",
        "z": "ce764ed3e446ced5",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33fe6ee08f0d5314",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "a65b78f153c2350c",
        "type": "subflow:e48651189e47bd2a",
        "z": "ce764ed3e446ced5",
        "name": "",
        "x": 960,
        "y": 220,
        "wires": [
            [
                "85b288c02608db0a"
            ]
        ]
    },
    {
        "id": "74c71dff7f91d5db",
        "type": "OPCUA-IIoT-Inject",
        "z": "ce764ed3e446ced5",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "prePreviousValues",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "10",
        "name": "prePreviousValues",
        "addressSpaceItems": [
            {
                "name": "target",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"target\"",
                "datatypeName": "Int32"
            },
            {
                "name": "actual",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"actual\"",
                "datatypeName": "Int32"
            },
            {
                "name": "ok",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"ok\"",
                "datatypeName": "Int32"
            },
            {
                "name": "difference",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"difference\"",
                "datatypeName": "Int32"
            },
            {
                "name": "counterTactTime",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"counterTactTime\"",
                "datatypeName": "Int32"
            },
            {
                "name": "state",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"state\"",
                "datatypeName": "Int32"
            },
            {
                "name": "taktTime",
                "nodeId": "ns=3;s=\"prePreviousValues\".\"taktTime\"",
                "datatypeName": "Int32"
            }
        ],
        "x": 180,
        "y": 220,
        "wires": [
            [
                "9fe5bfce28edee97"
            ]
        ]
    },
    {
        "id": "a88cbca272a818dc",
        "type": "OPCUA-IIoT-Read",
        "z": "ce764ed3e446ced5",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "f9202e79bfbd57f6",
        "name": "",
        "justValue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "parseStrings": false,
        "historyDays": 1,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "c32615058e03c71c"
            ]
        ]
    },
    {
        "id": "c32615058e03c71c",
        "type": "OPCUA-IIoT-Response",
        "z": "ce764ed3e446ced5",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": true,
        "showErrors": true,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "a65b78f153c2350c"
            ]
        ]
    },
    {
        "id": "33fe6ee08f0d5314",
        "type": "mqtt-broker",
        "name": "MQTT_Broker",
        "broker": "172.17.0.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9202e79bfbd57f6",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://192.168.1.10:4840",
        "endpointMustExist": false,
        "keepSessionAlive": false,
        "loginEnabled": true,
        "name": "OPC_server",
        "showErrors": true,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": ""
    }
]